.inputRadio {
    transform: scale(1.5);
    position: initial;
    line-height: 0;
    border-radius: 2px;

}

.taskContainer {
    display: flex;
    flex-wrap: wrap; /* Permite que as divs se movam para a linha abaixo */
    gap: 1rem; /* Espaçamento entre linhas e colunas */
}

.deleteTask button {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    line-height: 0;
    border-radius: 2px;
}

.deleteTask button:hover {
    color: var(--danger);

}

.taskFather {
    border: 1px solid var(--gray-300);
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background: var(--gray-500);
    margin: 0.5rem 0 0.5rem 0;
}