.inputRadio {
    transform: scale(1.5);
    position: initial;
    line-height: 0;
    border-radius: 2px;

}

.taskContainer {
    display: flex;
    flex-wrap: wrap; /* Permite que as divs se movam para a linha abaixo */
    gap: 1rem; /* Espaçamento entre linhas e colunas */
}

.deleteTask button {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    line-height: 0;
    border-radius: 2px;
}

.deleteTask button:hover {
    color: var(--danger);

}