.header {
    display: flex;
    justify-content: center;
    padding: 3.75rem 0;
    background: var(--gray-700);
}

.header img {
    height: 6.5rem;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.header img:hover {
    filter: drop-shadow(0 0 1em #646cffaa);
}

.taskSubmit {
    margin: -1.5rem 30rem 0.5rem 30rem; /* Margens conforme necessário */
    display: flex; /* Mantém os elementos dentro do pai em linha */
    justify-content: center; /* Centraliza os filhos horizontalmente na linha */
}

/* Formulário deve ter o esquema flex, garantindo que ele permaneça em linha */
form {
    display: flex; /* Mantém o input e botão na mesma linha */
    align-items: center; /* Alinha verticalmente os elementos no centro */
    gap: 1rem; /* Espaçamento fixo entre os elementos */
    width: 100%; /* Dê uma largura total ao formulário */
}

.inputForm {
    flex: 1; /* Permite que o input ocupe todo o espaço disponível */
    height: 50px; /* Altura uniforme */
    font-size: 16px;
    border-radius: 8px;
    font-weight: bold;
    color: var(--gray-100);
    background-color: var(--gray-500);
    border: none;
    padding: 0 1rem;
    margin: 0; /* Remove margens indesejadas*/
    outline-offset: 2px;
    outline-color: var(--purple-dark);
}

.buttonTask {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue);
    color: #ffffff;
    border-radius: 8px;
    height: 50px;
    padding: 0 1rem;
    font-weight: bold;
    border: none;
    gap: 0.3rem;
    margin: 0; /* Remove margens indesejadas */
    cursor: pointer;
    outline-color: var(--purple-dark);
}

.taskArea {
    background: var(--gray-600);
    margin: 5rem 30rem 1rem 30rem;
}

.taskArea2 {
    margin: 0.5rem 30rem 0.5rem 30rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
}

.taskList {
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskCreated {
    color: var(--blue);
}

.taskCreated span {
    border-radius: 12px;
    font-weight: bold;
    font-size: 1rem;
    color: var(--gray-200);
    background-color: var(--gray-400);
    padding: 0 0.5rem 0 0.5rem;
    margin-left: 0.5rem;

}

.taskFinished {
    color: var(--purple);
}

.taskFinished span {
    border-radius: 12px;
    font-weight: bold;
    font-size: 1rem;
    color: var(--gray-200);
    background-color: var(--gray-400);
    padding: 0 0.5rem 0 0.5rem;
    margin-left: 0.5rem;
}

.clipBoard {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 30rem 0.5rem 30rem;
    border-top: solid 2px var(--gray-400);
    border-radius: 8px;
    color: var(--gray-300);
}

.clipBoard img {
    margin-bottom: 2rem;
}

.clipBoard > p:first-of-type {
    font-weight: bold;
}